

<ion-view view-title="New Post" hide-back-button="false" hide-nav-bar="false">
<ion-nav-bar>
  <ion-nav-back-button style="color:white">
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" style="color:white;background:transparent;border:none">Post</button>
  </ion-nav-buttons>
  
        <ion-content>
<div class="row" style="background:#fff"> 
<div class="item" style="width:100%;padding:10px 8px;height:65px;border:none">
          <div class="item-avatar">
            <img style="margin-top:-6px;margin-left:-5px" src="http://3.bp.blogspot.com/-bTWNRjookMQ/VYGjnv5nKtI/AAAAAAAAA08/wXshQ9sNDeU/s100-c/blank-792125_1280.jpg"></img>
			<span style="font-size:16px;font-weight:600;margin-left:-15px">John Doe</span><br>
            <span style="margin-left:-15px">Pham</span>
			<span style="position:absolute;top:10px;right:10px">
                <i class="icon ion-camera larger positive" style="font-size: 36px;color: #777;"></i>
            </span>
          </div> 
</div>
</div>
 <ion-item style="border:none">
   <textarea placeholder="Share something here" rows="8" cols="10" style="width:100%;font-size:20px"></textarea>
 </ion-item>
	  
        </ion-content>
</ion-view>
