<ion-view view-title="">
  <ion-nav-bar class="bar-positive" align-title="center">

  <ion-nav-back-button style="color:white">
  </ion-nav-back-button>


        <ion-nav-title >
            Book!
          </ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="true">
      <div id="profile-content" style="height:270px">
       
          <img src="http://idaydream.newmemvp.build/photo/art/large_x2_16_9/9523773-15290131.jpg?v=1463853189">
          <div id="profile-name" style="color:black;margin-left:5px;margin-top:5px">John Hill</div>
        
      </div>
  <div>
   <span><b>Specializes in</b></span>
<br>
<ul>
<li>Videography </li>
<li>Graphic Design</li>
<li>Photgraphy</li>
</ul>
<span><b>Booking Rates</b></span>
<ul>
<li>$700 for videography</li>
<li>$150  for photography</li>
<li>$80 for graphic</li>
</ul>





  </div>
  
  
    <form>
    <div class="list">
        <label class="item item-input item-floating-label" style="padding:10px;border:none">
          <span class="input-label" style="opacity:1;top:0px;padding:0px">Email</span>
             <input placeholder="email"
        ng-minlength="5"
        ng-maxlength="30"
		style="height:36px;border:1px solid #999;padding:10px"
        required>
       </label>
      
        <label class="item item-input item-floating-label" style="padding:10px;border:none">
          <span class="input-label" style="opacity:1;top:0px;padding:0px">Phone</span>
          <input placeholder="phone"
        ng-minlength="5"
        ng-maxlength="30"
		style="height:36px;border:1px solid #999;padding:10px"
        required>
       </label>
	   
        <label class="item item-input item-floating-label" style="padding:10px;border:none">
          <span class="input-label" style="opacity:1;top:0px;padding:0px">Date</span>
          <input placeholder="Date"
        ng-minlength="5"
        ng-maxlength="30"
		style="height:36px;border:1px solid #999;padding:10px"
        required>
       </label>
	   
	    <label class="item item-input item-floating-label" style="padding:10px;border:none">
          <span class="input-label" style="opacity:1;top:0px;padding:0px">Time</span>
          <input placeholder="Time"
        ng-minlength="5"
        ng-maxlength="30"
		style="height:36px;border:1px solid #999;padding:10px"
        required>
       </label>
	   
	    <label class="item item-input item-floating-label" style="padding:10px;border:none">
          <span class="input-label" style="opacity:1;top:0px;padding:0px">Reason</span>
          <input placeholder="Reason"
        ng-minlength="5"
        ng-maxlength="30"
		style="height:36px;border:1px solid #999;padding:10px"
        required>
       </label>
	   
    </div>
    <div class="padding-top">
      <input value="Book" class="button button-block button-positive"/>
    </div>
  </form>
  </ion-content>
</ion-view>
