

<ion-view view-title="Trip List" hide-back-button="false" hide-nav-bar="false">

<ion-nav-bar>
  <ion-nav-back-button style="color:white">
  </ion-nav-back-button>
</ion-nav-bar>
   <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-add" style="color:white" ng-click="go('search_communities')"></button>
  </ion-nav-buttons>
     <ion-content class="post-content"  scroll="true">
<ion-checkbox ng-model="isChecked">Tent</ion-checkbox>
<ion-checkbox ng-model="isChecked2">Water</ion-checkbox>
<ion-checkbox ng-model="isChecked3">Protein Bars</ion-checkbox>
<ion-checkbox ng-model="isChecked4">Propane</ion-checkbox>
<ion-checkbox ng-model="isChecked5">Blankets</ion-checkbox>
<ion-checkbox ng-model="isChecked6">Pillows</ion-checkbox>
<ion-checkbox ng-model="isChecked7">Food</ion-checkbox>
<ion-checkbox ng-model="isChecked8" ng-checked="true">Snacks</ion-checkbox>
<ion-checkbox ng-model="isChecked9" ng-checked="true">Band-aids</ion-checkbox>
<ion-checkbox ng-model="isChecked10" ng-checked="true">Tooth Brush</ion-checkbox>
<ion-checkbox ng-model="isChecked11" ng-checked="true">Tooth Paste</ion-checkbox>
   </ion-content>


</ion-view>
