

<ion-view view-title="Event" hide-back-button="false" hide-nav-bar="false">

 <ion-nav-bar>
  <ion-nav-back-button style="color:white">
  </ion-nav-back-button>
</ion-nav-bar>

        <ion-content class="has-header">
           <div id="content" >
        <div id="profile-info" style="height:200px">
          <h3 id="profile-name" style="position: absolute;bottom:0;margin-left:15px;color:#fff;">Tool</h3>
        </div>
      </div>
	  
<div class="row" style="height:55px;background:#f6f6f6"> 
<div class="col" style="padding:4px"><button class="button button-community" ng-click="go('communitypath')">
  Info
</button> </div> 
<div class="col" style="padding:4px"><button class="button button-community" ng-click="">
  50 Going
</button> </div> 
</div>

<div class="row" style="padding-top:15px;background:#f6f6f6"> 
<div class="item" style="width:100%;padding:6px;margin-left:4px;margin-right:4px;white-space:normal;">
 Friday Sept 30, 2016 - Sunday Oct 2, 2016 <br><br>
 
<b>ANNOUNCING ELECTRIC FOREST 2017</b>
<br><br>
After careful and thoughtful consideration, Electric Forest is ready to take an amazing leap into the future. Forest HQ is incredibly excited to announce that Electric Forest 2017 will take place on two distinct and back-to-back weekends at a lower capacity. The dates will be:
<br><br>
Over the past six years, the strength and spirit of the Forest Family have grown beyond our wildest dreams. But as we also grow in size, we keep coming back to one important question: How do we preserve intimacy and integrity while welcoming new friends?
<br><br>
Our community is an ever-evolving experiment of culture, creativity, and friendship where we explore what happens when the complexities of our daily lives are put on hold in favor of connecting with one another on a deeper level. Yet, there are many who do not have the opportunity to participate because weekend passes sell out so quickly. Why not expand something that creates so much good? Why not allow our collective energy to create space for new ideas, and greater participation? This is not untethered growth. This is mindful evolution with tremendous care being placed on the deepest ideals of the Forest. Electric Forest 2017 represents a meaningful, organic expansion into the creative wilderness that honors the experience we cherish together.
<br><br>
More information will be coming this Fall, although you may have many questions right now. Below is a short Q&A that will shed light on some main topics.
<br><br>
<b>What will each weekend be like?</b><br>
The short answer is that each weekend will be unique, and none of the 8 total days of Electric Forest will be the same. Creativity should not be bound by a formula, but there are a few 2017 guidelines worth sharing:
<br><br>
There will be some musical artists who will appear on both weekends. However, these artists will perform different sets of music each weekend that take us on a deeper and more diverse journey through their creative explorations.
Some musical artists will perform on one weekend only, and some will perform multiple times throughout that weekend, but their performances will not be repeats. Instead, they will perform different sets of music tailored for different times of the day and night.
All Electric Forest community programs (such as Plug In and Her Forest) will continue through both weekends.
There will be unique curated events that will occur on only one weekend. Many of these curated events and themes will be announced along with the initial line up prior to the on sale date of weekend passes.
Will the capacity be the same as 2016?
No. While Electric Forest will expand in many ways in 2017, its intimacy will stay intact. In fact, the capacity for each weekend will be reduced by approximately 10% from 2016.
<br><br>
Raising the capacity and expanding the site layout for a single weekend was an idea that was considered. However, rapid growth of the venue has the potential to undermine the values of The Forest. Instead of moving toward one larger weekend, the most thoughtful choice was the creation of two smaller capacity weekends.
<br><br>
<b>How will I know which weekend I want to go to before passes go on sale?</b><br>
HQ will be releasing an initial music line up for both weekends prior to the on-sale date. While this will not be a complete line up announcement, it will be more than enough to get the flavor of each weekend. Many headlining artists will be included in the initial announcement while various programs, lineup additions, curated events, and much more will be announced well into 2017.
<br><br>
Please know the goal is for both weekends to be well balanced and unique. Each weekend will have its share of surprises, but as always, the goal for any Forest veteran or newcomer is to participate in an amazing experience, regardless of which weekend they attend. Hopefully, the inevitable discussion around “which weekend is better” will become a pointless exercise. This is because it is ALL Electric Forest.
<br><br>
<b>Can I buy passes for both weekends?</b><br>
Yes! Please know you will need to exit the site between weekends so that proper cleaning and maintenance can take place. Maybe enjoy a few days on the beaches of Lake Michigan?
<br><br>
<b>What kind of prices can I expect for 2017 passes?</b><br>
All 2017 General Admission and Good Life weekend passes will remain at the same prices as 2016.
<br><br>
<b>Will Early Entry parking passes be available?</b><br>
Yes, Early Entry parking passes will be available for June 21 and June 28.
<br><br>
<b>2017 Loyalty Program Updates</b><br>
For those of you who are members of the Electric Forest Loyalty Program, know that The Forest cannot wait to welcome you back. Here are a few key details to allow you to begin your planning, with more information coming this Fall:
<br><br>
All Loyalty Program members will have the option to purchase up to two (2) total GA wristbands during an exclusive Loyalty On Sale.
2016 Good Life Loyalty Program Members will have the option to purchase up to two (2) total Good Life Wristbands or up to two (2) GA Camping Wristbands during an exclusive Loyalty On Sale.
Members of the Loyalty Program are those who registered their 2016 Wristband, and those who qualify for Four in The Forest.
All Loyalty communications will be sent to the email address provided with wristband registration (or with purchase for Four in The Forest who did not attend in 2016)
More details about 2017 Loyalty Offerings, including Four in The Forest, will be available in the coming months.
<br><br>
<b>Local Community: Village of Rothbury/Grant Township</b><br>
The Village of Rothbury and Grant Township have been amazing hosts for Electric Forest. HQ is excited to announce that we will be expanding all existing programs that give back to our hosts, which will strengthen and deepen our collective ties to the community around us. This expansion includes:
<br><br>
A larger Road Improvement Fund<br>
Growth in our efforts to support the annual Roy Price Memorial Food Drive<br>
Expansion of the Electric Forest Music in Schools program<br>
More community programs will be announced in coming months.<br>
<br><br>
Finally, to all of you who have ever attended any year(s) of Electric Forest, thank you. You have created an undeniable and positive force.
<br><br>
It is the job of HQ to support the ideals and integrity of what we have all created together. Your immense support has led to this moment where thoughtful expansion can happen in a way that stays true to the nature of what has been created.
<br><br>
In a world with more than its fair share of conflict, divisiveness, and negativity, the Electric Forest community once again stands strong. Our experiment is rooted in curiosity. What happens when we truly support each other, and when we listen more than we talk? What happens when the virtual world becomes real-life community? What can we achieve when every individual is celebrated by one beautiful family?
<br><br>
We look to 2017 and beyond with wide eyes filled with hope and excitement. Thank you for continuing on this journey together!
</div> 
</div>

        </ion-content>
</ion-view>
