

<ion-view view-title="Communities" hide-back-button="true" hide-nav-bar="false">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:white"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search" style="color:white" ng-click="go('search_communities')"></button>
	<button class="button button-icon icon ion-plus-round" style="color:white" ng-click="go('new_community')"></button>
  </ion-nav-buttons>
   <ion-content class="post-content">
   	<ion-refresher
       	pulling-text="Pull to refresh..."
       	on-refresh="doRefresh()">
 	</ion-refresher>

	  <div class="list">
          <a href="#/community" class="item item-thumbnail-left" ng-repeat="community in communities">
            <img ng-src="{{community.image_thumb}}"></img>
            <h2>{{community.title}}</h2>
            <p>{{community.description}}</p>
            <p>2 hours ago</p>
          </a>
      </div>
      <ion-infinite-scroll
       	ng-if="postsCompleted == false"
       	on-infinite="getPosts()"
       	distance="10%">
     	</ion-infinite-scroll>
   </ion-content>
</ion-view>
